@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Kanit:ital@1&family=Proza+Libre:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: 
        url(../images/background.jpg)
        no-repeat
        fixed
        top center / auto 115%
        #8ab5ff
    ;
    
}